{% extends 'vintage/base.html' %}
{% load static %}

{% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<style>
    html, body, .chatbox{
        height: 100%;
    }
        #header{
        display: none!important;
    }
    #footer{
        display: none!important;}
    main{
        width: 100%;
        height: 100%;
        padding-top: 0;
    }

    .chatbox{
        margin: auto;
        width: 100%;
        /* height: 100%; */
        /* background-color: #242222; */
        background-color: #202020;
        color: white;
        /* border: 1px solid black; */
    }
    .chatbox a{
        color: white;
    }
    .chatbox > div{
        /* border: 1px solid black; */
    }
    .you-sent{
        background-color: #3240ff;
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        margin: 0px 0px 0px auto;
        width: fit-content;
        max-width: 70%;
        color: white;
        font-weight: 400;
        /* text-align: end; */
    }
    .other-sent{
        background-color: #4f4e4e;
        padding: 10px 20px;
        border-radius: 10px 10px 10px 0;
        margin: 0px auto 0px 0px;
        width: fit-content;
        max-width: 70%;
        color: white;
        font-weight: 400;
        /* text-align: start; */
    }
    .message-container{
        display: flex;
        justify-content: center;
    }
    .message-container .time-of-message{
        color: #202020;
        margin: auto;
    }
    .message-container:hover .time-of-message{
        color: #a2a2a2;
    }
    #thebox-of-chatbox{
       height: 100%;
       overflow-y: auto;
       /* height: calc(100% - 100px); */
    }
    #message-input{
        background-color: #4f4e4e;
        color: white;
    }











    section{
        width: 100%;
    }
    .sidebar-menu{
        /* position: fixed; */
        background-color: #202020;
        border: 1px solid #3f3f3f;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        margin: 0;
        /* margin-bottom: 20px; */
        /* margin-top: 20px; */
        padding: 0;
        width: 100px;
        color: white!important;
        height: 100%;
    }
    .sidebar-menu-inner{
        padding: 0;
        color: white!important;

    }
    .sidebar-menu-inner ul{
        padding: 0;
    }
    ul.sidebar-nav{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.sidebar-nav li{
        padding: 20px 35px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    ul > a{
        color: white;
        font-size: 25px;
        transition: all 0.3s ease-in-out;
    }
    ul > a:hover{
        color: #50dcf3;
        transform: scale(1.1);
    }
    ul.sidebar-nav li:hover{
        background-color: #3f3f3f;
        cursor: pointer;
    }
    .special-ricamo{
        text-align: center;
        color: #50dcf3!important;
    }
    .convo{
        transition: all 0.3s ease-in-out;
        display: none;
    }
    .convo.active{
        display: flex!important;
    }
    .convo:hover{
        background-color: #3f3f3f;
        cursor: pointer;
    }
    @media(max-width: 768px){
        .sidebar-menu{
            width: 100px!important;
            min-width: 0;
        }
        .title{
            display: none;
        }
        #ricamo1{
            display: none!important;
        }
        #ricamo2{
            display: block!important;
        }
        ul > a{
        color: white;
        font-size: 22px;
        transition: all 0.3s ease-in-out;
        }
        ul > a:hover i{
            color: #50dcf3;
            transform: scale(1.1);
        }
        ul.sidebar-nav li{
            padding: 18px 33px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
    }
    @media (max-height:800px){
        .soufel-ricamo{
            margin-top: 0!important;
            margin: 35px auto!important;
        }
    }
    @media (max-width:800px){
        {% if inbox %}
        #after-box-of-chatbox{
            display: none!important;
        }
        #before-box-of-chatbox{
           width: 100%!important;
        }
        {% else %}
        #before-box-of-chatbox{
            display: none!important;
        }
        #after-box-of-chatbox{
            flex-basis: 100%!important;
        }
        .product-and-seller{
            font-size: 14px;
        }
        .you-sent, .other-sent{
            font-size: 12px;
        }
        {% endif %}
    }
    .menu-convo{
        width: 30%;
        text-align: center;
        height: 40px;
        /* border: 1px solid #4f4e4e; */
        background-color: #3f3f3f;

        border-left: 0;
        border-right: 0;
        position: relative;
        border-radius: 10px;
        cursor: pointer;
    }
    .menu-convo.active{
        background-color: white;
        color: black;
    }
    .menu-convo span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .soufel-ricamo{
        margin: 50px auto;
        margin-top: 80px;
    }
    #before-box-of-chatbox{
        height:100%;
        min-width: 297px;
        padding: 10px 0;
        border-right: 1px solid #4f4e4e;
        overflow-y: auto;
        position: relative;
    }
    #after-box-of-chatbox{
        height: 100% ;
        width: 100%;
        background-color: #202020!important;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .bi-three-dots-vertical:hover{
        color: #50dcf3;
    }
    #menu_signal_eval{
        /* display: none; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        
        width: 350px;
        /* height: 250px; */
        z-index: 9999;
        background-color: #191919;
        border: 1px solid #4f4e4e;
        border-radius: 12px;
    }
    .title-description-menu{
        color: white;
    }
    .icon-description-menu, .title-description-menu{
        color: white;
        font-size: 16px;
    }
    #menu_signal_eval li:hover{
        background-color: #3f3f3f;
        cursor: pointer;
    }
    #menu_signal_eval ul{
        width: 100%;
    }

    #menu_signal_eval li{
        width: 100%;
        height: 60px;
        border-radius: 10px;
    }
    #sectionn{
        margin: 0!important;
    }
    #menu_signal_eval > span > i {
        font-size: 16px;
    }
    #menu_signal_eval > span > i.bi-x::before {
        color: white;
        cursor: pointer;
    }
    #vendre-display{
        display: none;
    }
    .star-rate-span{
        /* color: #50dcf3; */
        font-size: 18px;
        margin: 0 5px;
        float: right;
        transition: all 0.3s ease-in-out;
    }
    {% if transaction %}
    {% if not transaction.note %}
        .star-rate-span:hover{
            color: #50dcf3;
            cursor: pointer;
        }
        .star-rate-span:hover i::before{
            content: "\f586"!important;
        }
        .star-rate-span:hover ~ span{
            color: #50dcf3;
        }
        .star-rate-span:hover ~ span i::before{
            content: "\f586"!important;
        }
    {% else %}
        .star-rate-span.s-active{
            color: #50dcf3;
        }
        .star-rate-span.s-active i::before{
            content: "\f586"!important;
        }
        .star-rate-span.s-active ~ span{
            color: #50dcf3;
        }
        .star-rate-span.s-active ~ span i::before{
            content: "\f586"!important;
        }
    {% endif %}
    .star-rate-container{
        width: fit-content;
        margin: 5px auto;
        height:30px;
    }
    {% endif %}
    .profile-picture-img{
        border-radius: 50%;
        text-align:left; 
        border: 1.5px solid white;
        width: 40px; 
        height: 40px; 
    }
    .profile-picture-img{
        background-position: center;
        background-size: 100%;   
        background-repeat: no-repeat;     
    }
    .link_to_profile span{
        color: white;
        transition: all;
    }
    .link_to_profile:hover span{
        color: #50dcf3!important;
    }
    .link_to_profile{
        /* cursor: default; */
    }





</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

{% endblock %}
{% block main %}

<main id="main" class="d-flex">
    {% if not inbox %}
    <div id="menu_signal_eval" style="display: none;">
        <span id="close_menu_ev" style="float: right;" class="">
            <i style="color: white;" class="bi bi-x"></i>
        </span>

        <div class="d-flex justify-content-center">
            <ul style="list-style: none; padding-left: 0;margin-bottom: 0;">
                <a href="{% url 'report' other_user.username %}">
                    <li>
                        <span class="icon-description-menu"><i style="color:red" class="bi bi-flag"></i></span>
                        <span class="title-description-menu">Signaler</span>
                    </li>
                </a>
                {% if product.seller == user and not product.deleted %}
                <a href="{% url 'sell' product.id other_user %}">
                    <li>
                        <span class="icon-description-menu"><i style="color: #50dcf3;" class="bi bi-cash"></i></span>
                        <span class="title-description-menu">Vendre le Produit</span>
                    </li>
                </a>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="sidebar-menu justify-content-center d-flex">

        <div class="sidebar-menu-inner">
            <div class="soufel-ricamo">
               
                <h1 class="special-ricamo"><a style="color: #50dcf3; text-align: center;" href="{% url 'index'%}">V</a></h1>
            </div>
        
            <ul class="sidebar-nav">
                <a href="{% url 'profile' %}">
                <li class="active">
                    
                        <span class="icon"><i class="bi bi-person"></i></span>
                    
                </li></a>
                <a href="{% url 'index' %}">
                    <li class="">

                        <span class="icon"><i class="bi bi-house"></i></span>
                    
                    </li>
                </a>

                <a href="{% url 'annonces' %}">
                    <li>
                        <span class="icon"><i class="bi bi-list"></i></span>
                    
                    </li>
                </a>
                <a href="{% url 'add' %}">
                    <li>
                        <span class="icon"><i class="bi bi-plus"></i></span>
                    </li>
                </a>
                <a href="{% url 'chat' 'inbox' '1' %}">
                    <li class="active">
                        
                            <span class="icon"><i class="bi bi-chat"></i></span>
                        
                    </li>
                </a>
    

                <a href="{% url 'password_change' %}">
                    <li>
                        <span class="icon"><i class="bi bi-lock"></i></span>
                    </li>
                </a>
                <a href="{% url 'logout' %}">
                    <li>
                        <span class="icon"><i class="bi bi-door-open"></i></span>
                    </li>
                </a>

            </ul>
        </div>
    </div>
    <section id="sectionn">
        <div class="container-fluid" style="height: 100%;">
            <div class="chatbox d-flex">
                <div id="before-box-of-chatbox">
                    <div class="d-flex justify-content-center " style="border: 0; text-align: center; padding: 30px;">
                         <!-- <img src="{{profile.picture.url}}" alt="" style="width: 40px; height: 40px; border-radius: 50%; text-align:left"> -->
                         <div class="profile-picture-img" style="background-image: url('{{profile.picture.url}}');"></div>
 
                        <span style="font-weight: 600;margin: 10px;text-align: center;"> {{user.username}} </span>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="menu-convo active">
                            <span>Tout</span>
                        </div>
                        <div class="menu-convo">
                            <span>Acheter</span>
                        </div>
                        <div class="menu-convo">
                            <span>Vendre</span>
                        </div>
                    </div>
                    {% for conversation in conversations %}
                    <a href="{% url 'chat' conversation.other_user conversation.post.id  %}" ><div class="convo {% if conversation.post.seller == user %}convo-vendeur{% elif conversation.post.seller == conversation.other_user %}convo-acheteur{% endif %} active" style="margin: 10px auto;">
                        <div style="width: 40px; height: 40px; margin: 5px auto; " >
                            <img src="{{conversation.post.image.url}}" width="40" height="40" style="border-radius: 50%;width: 40px;height: 40px;">
                        </div>
                        <div style="width: calc(100% - 60px); text-align: start; margin: 5px auto;">
                            <span style="font-weight: 600; margin:10px auto"> {{conversation.other_user}} </span><br>
                            <span style="margin:10px auto"> {{conversation.last_message}} </span> <span style="font-size: 12px; color: #a2a2a2;margin-left: 10px;">{{conversation.timestamp|date:'d M'}}</span>
                        </div>
                    </div></a>
                    {% endfor %}
                </div>
                    
                <div id="after-box-of-chatbox">
                    {% if inbox %}
                        
                        <i class="bi bi-messenger absolute-messenger" style="top: 45%;"></i>
                        <span class="absolute-messenger" style="font-size: 17px;top: 55%; font-weight: 600;">Vos Messages</span>
                        <small class="absolute-messenger" style="top: 60%; color: #717171; font-size: 13px;">Vous pouvez lancer des discussion à propos des produits dont vous etes interessé</small>
                    {% else %}
                    
                    <div class="d-flex" style="padding: 10px 10px;border-bottom:1px solid #4f4e4e;">
                        <div style="width: 40px; height: 40px; margin: 5px auto; " >
                            <img src="{{product.image.url}}" width="40" height="40" style="border-radius: 50%;width: 40px;height: 40px;">
                        </div>
                        <div style="width: calc(100% - 60px); text-align: start; margin: 5px auto;">
                            <a href="{% url 'post' product.genre product.category product.title %}" class="link_to_profile"><span class="product-and-seller" style="font-weight: 600; margin:10px auto; color: white;">{{product.title}}</span></a> •
                            <a href="{% url 'page' other_user.username %}" class="link_to_profile"><span class="product-and-seller" style="font-weight: 600; margin:10px auto; color: white;">{{other_user}}</span></a>

                               <!-- •   {{product.seller}}  -->
                            <i id="menu-signal-eval" style="float: right;cursor: pointer;" class="bi bi-three-dots"></i>
                            <br>
                        </div>
                        
                    </div>
                    <div id="thebox-of-chatbox" style="padding : 12px 12px; overflow-y: auto; background-color: #202020; ">
                        {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="message-container" style="border: 0; height: fit-content; margin: 20px auto; text-align: end;">
                                <span class="time-of-message" style="font-size: 12px; margin-left: 0; ">{{message.timestamp|date:'d M H:i'}}</span>
                                <div class="you-sent"> {{message.message}}  </div>
                            </div>
                            {% else %}
                            <div class="message-container" style="border: 0; height: fit-content; margin: 20px auto; text-align: start;">
                                <div class="other-sent"> {{message.message}} </div>
                                <span class="time-of-message" style="font-size: 12px; margin-right: 0;">{{message.timestamp|date:'d M H:i'}}</span>

                            </div>
                            {% endif %}
                        {% endfor %}
                        {% if product.deleted %}
                        <div style="width: 100%; height: fit-content; background-color: #202020; padding: 10px 10px; border: 0; border-radius: 10px; color: white; text-align: center;">
                            <span class="other-sent" style=" margin: auto!important; background-color: #202020;color: #a2a2a2;">Ce produit n'est plus disponible</span>
                        </div>
                        {% endif %}
                        {% if transaction %}
                        <br><br>
                            {% if not transaction.note and transaction.user == user %}
                            <div style="width: 80%; max-width: 600px; min-width: 200px; margin: 0px auto; height: fit-content; background-color: #323232; padding: 20px; border: 0; border-radius: 10px; color: white; text-align: center;">
                                <form id="transaction-form" action="" method="POST">{% csrf_token %}
                                    <input id="rating-transaction" type="hidden" name="rating" required>
                                    <input id="comment-transaction" type="hidden" name="comment" maxlength="250">
                                </form>
                                <span>Evaluez cette transaction</span><br>
                                <div class="star-rate-container">
                                    <span value="5" class="star-rate-span">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="4" class="star-rate-span">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="3" class="star-rate-span">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="2" class="star-rate-span">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="1" class="star-rate-span">
                                        <i class="bi bi-star"></i>
                                    </span>
                                </div>
                                <textarea id="myTextarea" type="text" maxlength="250" style="min-height: 100px;width: 100%; border-radius: 10px; background-color: #4f4e4e; color: white;" placeholder="Commenter sur la transaction avant d'évaluer (Facultatif)"></textarea>
                                <small style="display: block;color: #717171;" id="wordCount"></small>
                                <small style="display: block;color: #717171;margin-top: 5px;">Le vendeur ne sera pas notifié de votre évaluation</small>


                            </div>
                            {% endif %}
                            {% if transaction.note and transaction.user == user %}
                            <div style="width: 80%; max-width: 600px; min-width: 200px; margin: 0px auto; height: fit-content; background-color: #323232; padding: 20px; border: 0; border-radius: 10px; color: white; text-align: center;">
                                <span>Transaction évaluée</span><br>
                                <div class="star-rate-container">
                                    <span value="5" class="star-rate-span{% if transaction.note == 5 %} s-active{% endif %}">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="4" class="star-rate-span{% if transaction.note == 4 %} s-active{% endif %}">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="3" class="star-rate-span{% if transaction.note == 3 %} s-active{% endif %}">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="2" class="star-rate-span{% if transaction.note == 2 %} s-active{% endif %}">
                                        <i class="bi bi-star"></i>
                                    </span>
                                    <span value="1" class="star-rate-span{% if transaction.note == 1 %} s-active{% endif %}">
                                        <i class="bi bi-star"></i>
                                    </span>
                                </div>
                                {% if transaction.comment %}
                                <div style="width: 100%; height: fit-content; background-color: #202020; padding: 10px 10px; border: 0; border-radius: 10px; color: white; text-align: center;">
                                    <div class="other-sent" style=" margin: auto!important; background-color: #202020;color: #a2a2a2;">{{transaction.comment}}</div>
                                </div>
                                {% endif %}
                                <small style="display: block;color: #717171;margin-top: 5px;">Le vendeur ne sera pas notifié de votre évaluation</small>
                            </div>
                            {% endif %}

                        {% endif %}


                    </div>
                    
                    <div style="border: 0;  padding: 10px 10px;  background-color: #202020!important; height: fit-content">
                        {% if not product.deleted %}
                        <form action="{% url 'chat' other_user product.id %}" method="POST" style="">
                            {% csrf_token %}
                            <div class="d-flex">
                                <input type="text" name="message" id="message-input" style="width: 100%; border: 0; border-radius: 10px; padding: 10px 20px; outline: none;">
                                <button type="submit" style="border: 0; background-color: transparent; margin: 0 0 0 10px; outline: none; color: white;"><i class="bi bi-send" style="font-size: 20px;"></i></button>
                            </div>
                        </form>
                        {% endif %}
                        <!-- <div style="width: 100%; height: fit-content; background-color: #202020; padding: 10px 10px; border: 0; border-radius: 10px; color: white; text-align: center;">
                            <span style="">Ce produit n'est plus disponible</span>
                        </div> -->
                        
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>



</main><!-- End #main -->

{% endblock %}

{% block scripts %}
<script>
    var menus = document.getElementsByClassName('menu-convo');
    for (let i = 0; i < menus.length; i++) {
        menus[i].addEventListener('click', function(){
            for (let j = 0; j < menus.length; j++) {
                menus[j].classList.remove('active');
            }
            menus[i].classList.add('active');
            displayConvo(menus[i].innerText);
        })
    }
    function displayConvo(type){
        var convos = document.getElementsByClassName('convo');
        for (let i = 0; i < convos.length; i++) {
            if (type == 'Acheter') {
                if (convos[i].classList.contains('convo-acheteur')) {
                    convos[i].classList.add('active');
                }
                else{
                    convos[i].classList.remove('active');
                }
            }else if(type == 'Vendre'){
                if (convos[i].classList.contains('convo-vendeur')) {
                    convos[i].classList.add('active');
                }
                else{
                    convos[i].classList.remove('active');
                }
            }
            else if(type == 'Tout'){
                convos[i].classList.add('active');
            }
        }
    }
    var main = document.getElementById('sectionn');
    var signal_eval = document.getElementById("menu-signal-eval");
    if (signal_eval){
        signal_eval.addEventListener("click", show_menu_signal_eval);
    }
    var menu_si_ev = document.getElementById("menu_signal_eval");
    var close_menu_ev = document.getElementById("close_menu_ev");
    if (close_menu_ev) close_menu_ev.addEventListener("click", show_menu_signal_eval);
    function show_menu_signal_eval(e){
        if (menu_si_ev.style.display == "none") {
            menu_si_ev.style.display = "block";
            main.setAttribute("style", "filter: blur(5px);")  
        }else{
            menu_si_ev.style.display = "none";
            main.setAttribute("style", "filter: blur(0px);")
        }
    }
    {% if transaction %}
    var stars = document.getElementsByClassName("star-rate-span");
    if (stars){
        {% if not transaction.note %}
        for (star of stars){
            star.addEventListener("click", evaluer_transaction);
        }
        var textarea = document.getElementById("myTextarea");
        var wordCountDisplay = document.getElementById("wordCount");
        wordCountDisplay.textContent = textarea.value.length + "/250";

        textarea.addEventListener("input", function() {
            var text = textarea.value;
            var wordCount = text.length;
            wordCountDisplay.textContent = wordCount + "/250";
        });

        {% endif %}
    }
    {% endif %}
    function evaluer_transaction(e){        
        if (e.target.tagName == "SPAN"){
            var my_span = e.target;
        }else if(e.target.tagName == "I"){
            var my_span = e.target.parentElement;
        }
        var rating = my_span.getAttribute("value");
        if (rating > 0 && rating <= 5){
            var rating_transaction = document.getElementById("rating-transaction");
            rating_transaction.value = rating;
            if (textarea.value.length > 0){
                var comment_transaction = document.getElementById("comment-transaction");
                var comment = textarea.value;
                comment_transaction.value = comment;
            }
            document.getElementById("transaction-form").submit();
        }
    }


    focus = document.getElementById('message-input');
    if (focus){
        focus.focus();
    }
    var thebox = document.getElementById('thebox-of-chatbox');
    if (thebox){
        thebox.scrollTop = thebox.scrollHeight;
    }
</script>
{% endblock %}