{% extends 'vintage/base.html' %}
{% load static %}

{% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<style>
    .chatbox{
        margin: auto;
        width: 90%;
        height: 70vh;
        /*border: 1px solid black;*/
    }
    .chatbox > div{
        border: 1px solid black;
    }
    .you-sent{
        background-color: #3240ff;
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        margin: 10px 10px 10px auto;
        width: fit-content;
        max-width: 70%;
        color: white;
        font-weight: 600;
        /* text-align: end; */
    }
    .other-sent{
        background-color: #a2a2a2;
        padding: 10px 20px;
        border-radius: 10px 10px 10px 0;
        margin: 10px auto 10px 10px;
        width: fit-content;
        max-width: 70%;
        color: white;
        font-weight: 600;
        /* text-align: start; */
    }
    .message-container .time-of-message{
        color: white;
    }
    .message-container:hover .time-of-message{
        color: #a6a6a6;
    }

    #vendu{
     display: inline;
     transition: 0.5s;
     border: none;
     cursor: pointer;
     border-radius: 999px;
     background-image: linear-gradient(to right, transparent 50%, #f3ec96 50%, #f9f7dccf );
     background-size: 200%;
     border: none;
     margin: 10px auto;
     background-color: #f5f4ea;
    }
    #vendu:hover{
     background-position: 100%;
    }
    /*slide*/
.slide{
    width: auto;
    justify-items: center;

}
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--white: hsl(var(--hue),10%,100%);
	--lt-gray: hsl(var(--hue),10%,95%);
	--gray1: hsl(var(--hue),10%,90%);
	--gray2: hsl(var(--hue),10%,80%);
	--gray7: hsl(var(--hue),10%,30%);
	--gray9: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
.fr {
	animation: fade-slide-in 0.6s ease-out;
	padding: 0 1.5em;
	/*max-width: 20em;*/
    justify-content: center;
}
.fr__face {
	--face-hue1: 60;
	--face-hue2: 30;
	background-image:
		linear-gradient(
			135deg,
			hsl(var(--face-hue1),90%,55%),
			hsl(var(--face-hue2),90%,45%)
		);
	border-radius: 50%;
	box-shadow: 0 0.5em 0.75em hsla(var(--face-hue2),90%,55%,0.3);
	margin: 0 auto 2em;
	position: relative;
	width: 3em;
	height: 3em;
}
.fr__face-right-eye,
.fr__face-left-eye,
.fr__face-mouth-lower,
.fr__face-mouth-upper {
	position: absolute;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur),
		color var(--trans-dur);
}
.fr__face-right-eye,
.fr__face-left-eye {
	background-color: var(--white);
	border-radius: 50%;
	top: 0.75em;
	width: 0.6em;
	height: 0.6em;
}
.fr__face-right-eye {
	--delay-right: 0s;
	animation: right-eye 1s var(--delay-right) linear paused;
	clip-path: polygon(0 75%,100% 0,100% 100%,0 100%);
	left: 0.6em;
}
.fr__face-left-eye {
	--delay-left: 0s;
	animation: left-eye 1s var(--delay-left) linear paused;
	clip-path: polygon(0 0,100% 75%,100% 100%,0 100%);
	right: 0.6em;
}
.fr__face-mouth-lower,
.fr__face-mouth-upper {
	color: var(--white);
	top: 1.75em;
	left: 0.75em;
	width: 1.5em;
	height: 0.75em;
}
.fr__face-mouth-lower {
	--delay-mouth-lower: 0s;
	animation: mouth-lower 1s var(--delay-mouth-lower) linear paused;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	box-shadow: 0 0.125em 0 inset;
}
.fr__face-mouth-upper {
	--delay-mouth-upper: 0s;
	animation: mouth-upper 1s var(--delay-mouth-upper) linear paused;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	box-shadow: 0 -0.125em 0 inset;
}
.fr__label {
	display: block;
	margin-bottom: 1.5em;
	text-align: center;
}
.fr__input {
    font: 1em/1.5 "DM Sans", sans-serif;
	--input-hue: 60;
	--percent: 50%;
	background-color: var(--gray1);
	background-image: linear-gradient(hsl(var(--input-hue),90%,45%),hsl(var(--input-hue),90%,45%));
	background-size: var(--percent) 100%;
	background-repeat: no-repeat;
	border-radius: 0.25em;
	display: block;
	margin: 0.5em auto;
	width: 100%;
	max-width: 10em;
	height: 0.5em;
	transition: background-color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.fr__input:focus {
	outline: transparent;
}

/* WebKit */
.fr__input::-webkit-slider-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0,0%,0%,0.3);
	width: 1.5em;
	height: 1.5em;
	transition: background-color 0.15s linear;
	-webkit-appearance: none;
	appearance: none;
}
.fr__input:focus::-webkit-slider-thumb,
.fr__input::-webkit-slider-thumb:hover {
	background-color: var(--lt-gray);
}

/* Firefox */
.fr__input::-moz-range-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0,0%,0%,0.3);
	width: 1.5em;
	height: 1.5em;
	transition: background-color 0.15s linear;
}
.fr__input:focus::-moz-range-thumb,
.fr__input::-moz-range-thumb:hover {
	background-color: var(--lt-gray);
}

/* `:focus-visible` support */
@supports selector(:focus-visible) {
	.fr__input:focus::-webkit-slider-thumb {
		background-color: var(--white);
	}
	.fr__input:focus-visible::-webkit-slider-thumb,
	.fr__input::-webkit-slider-thumb:hover {
		background-color: var(--lt-gray);
	}
	.fr__input:focus::-moz-range-thumb {
		background-color: var(--white);
	}
	.fr__input:focus-visible::-moz-range-thumb,
	.fr__input::-moz-range-thumb:hover {
		background-color: var(--lt-gray);
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--gray9);
		color: var(--gray1);
	}
	.fr__face-right-eye,
	.fr__face-left-eye {
		background-color: var(--gray9);
	}
	.fr__face-mouth-lower,
	.fr__face-mouth-upper {
		color: var(--gray9);
	}
	.fr__input {
		background-color: var(--gray7);
	}
}

/* Animations */
@keyframes fade-slide-in {
	from,
	16.67% {
		opacity: 0;
		transform: translateY(25%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes right-eye {
	from { clip-path: polygon(0 75%,100% 0,100% 100%,0 100%); }
	50%, to { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}
@keyframes left-eye {
	from { clip-path: polygon(0 0,100% 75%,100% 100%,0 100%); }
	50%, to { clip-path: polygon(0 0,100% 0,100% 100%,0 100%); }
}
@keyframes mouth-lower {
	from {
		border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		top: 1.75em;
		height: 0.75em;
		visibility: visible;
	}
	40% {
		border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		top: 1.95em;
		height: 0.25em;
		visibility: visible;
	}
	50%,
	to {
		border-radius: 0;
		top: 2em;
		height: 0.125em;
		visibility: hidden;
	}
}
@keyframes mouth-upper {
	from,
	50% {
		border-radius: 0;
		box-shadow: 0 -0.125em 0 inset;
		top: 2em;
		height: 0.125em;
		visibility: hidden;
	}
	62.5% {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.125em 0 inset;
		top: 1.95em;
		height: 0.25em;
		visibility: visible;
	}
	75% {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.125em 0 inset;
		top: 1.825em;
		height: 0.5em;
		visibility: visible;
	}
	to {
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 -0.8em 0 inset;
		top: 1.75em;
		height: 0.75em;
		visibility: visible;
	}
}
/*slide*/


</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

{% endblock %}
{% block hero %}
      <!-- ======= Hero Section ======= -->
  <section id="hero" style="background-color: black; height: 90px;">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      
    </div>
  </section><!-- End Hero Section -->

{% endblock %}

{% block main %}

<main id="main">

    <section id="" ;>
        <div class="container" style="">
            <div class="chatbox d-flex">
                <div class="" style="flex-basis: 35%;;border-radius: 30px;background-image: url(/media/chat0.jpg);background-size: cover;background-repeat: no-repeat;">
                    <div class="d-flex justify-content-center" style="border: 0;border-bottom: 1px solid black;">
                        <!-- <img src="{{profile.picture.url}}" alt="" style="width: 50px; height: 50px; border-radius: 50%;"> -->
                        <span style="font-weight: 600; margin:10px auto"> {{user.username}} </span>
                    </div>
                    {% for conversation in conversations %}
                    <a href="{% url 'chat' conversation.other_user conversation.post.id  %}" ><div class="d-flex" style="margin: 10px auto;">
                        <div style="width: 40px; height: 40px; margin: 5px auto; " >
                            <img src="{{conversation.post.image.url}}" width="40" height="40" style="border-radius: 50%;width: 40px;height: 40px;">
                        </div>
                        <div style="width: calc(100% - 60px); text-align: start; margin: 5px auto;">
                            <span style="font-weight: 600; margin:10px auto"> {{conversation.other_user}} </span><br>
                            <span style="margin:10px auto"> {{conversation.last_message}} </span>
                        </div>
                    </div></a>
                    {% endfor %}
                </div>
                    
                <div style="flex-basis: 65%;border-radius: 30px;height: 100%;display: flex;flex-direction: column;background-image: url(/media/chat0.jpg);background-size: cover;background-repeat: no-repeat;">
                    
                    <div class="d-flex" style="padding: 10px 10px; border-radius: 30px;">
                        <div style="width: 40px; height: 40px; margin: 5px auto; " >
                            <img src="{{product.image.url}}" width="40" height="40" style="border-radius: 50%;width: 40px;height: 40px;">
                        </div>
                        <div style="width: calc(100% - 40px); text-align: start; margin: 5px auto;">
                            <span style="font-weight: 600; margin:10px auto"> {{product.title}} </span><br>
                        </div>
                        <button id="vendu" style="border-radius: 100px;border: 1px solid #ede597;font-family: RothekExtraLight;width: 20%;height: 40px;">Vendu</button>
                    </div>
                    <!-- {% if messages %} -->
                    <div id="thebox-of-chatbox" style="padding : 12px 12px; overflow-y: auto; ">
                        {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="message-container" style="border: 0; height: fit-content; margin: 20px auto; text-align: end;">
                                <span class="time-of-message" style="font-size: 12px; ">{{message.timestamp|date:'d M H:i'}}</span>
                                <span class="you-sent" style="margin:10px auto"> {{message.message}}  </span>
                            </div>
                            {% else %}
                            <div class="message-container" style="border: 0; height: fit-content; margin: 20px auto; text-align: start;">
                                <span class="other-sent" style="margin:10px auto"> {{message.message}} </span>
                                <span class="time-of-message" style="font-size: 12px; ">{{message.timestamp|date:'d M H:i'}}</span>

                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div style="border: 0; border-top: 1px solid black; padding: 10px 10px; background-color:whitesmoke; height: fit-content">
                        <form action="{% url 'chat' other_user product.id %}" method="POST" style="">
                            {% csrf_token %}
                            <div class="d-flex">
                                <input type="text" name="message" id="message-input" style="width: 100%; border: 0; border-radius: 10px; padding: 10px 20px; outline: none;">
                                <button type="submit" style="border: 0; background-color: transparent; margin: 0 0 0 10px; outline: none;"><i class="bi bi-send" style="font-size: 20px;"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- {% endif %} -->
                </div>
            </div>
        </div>
        <!--slide-->
        <div class="slide">
         <form class="fr" action="">
            <label class="fr__label" for="face-rating">How was your experience?</label>
            <div class="fr__face" role="img" aria-label="Straight face">
                <div class="fr__face-right-eye" data-right></div>
                <div class="fr__face-left-eye" data-left></div>
                <div class="fr__face-mouth-lower" data-mouth-lower></div>
                <div class="fr__face-mouth-upper" data-mouth-upper></div>
            </div>
            <input class="fr__input" id="face-rating" type="range" value="2.5" min="0" max="5" step="0.1">
         </form>
        </div>
        <!--slide-->
  
    </section>



</main><!-- End #main -->

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('message-input').focus();
    var thebox = document.getElementById('thebox-of-chatbox');
    thebox.scrollTop = thebox.scrollHeight;
    // document.getElementById('header').classList.add('header-scrolled');
    // setTimeout(fixbugheader, 1000);
    // document.getElementsByTagName('main')[0].style.marginTop="155px";
    // function fixbugheader(){
    //     document.getElementById('header').classList.remove('header-transparent');
    //     document.getElementById('header').classList.add('header-scrolled');

    // }
</script>
<script>
    window.addEventListener("DOMContentLoaded",() => {
	const fr = new FaceRating("#face-rating");
});

class FaceRating {
	constructor(qs) {
		this.input = document.querySelector(qs);
		this.input?.addEventListener("input",this.update.bind(this));
		this.face = this.input?.previousElementSibling;
		this.update();
	}
	update(e) {
		let value = this.input.defaultValue;

		// when manually set
		if (e) value = e.target?.value;
		// when initiated
		else this.input.value = value;

		const min = this.input.min || 0;
		const max = this.input.max || 100;
		const percentRaw = (value - min) / (max - min) * 100;
		const percent = +percentRaw.toFixed(2);

		this.input?.style.setProperty("--percent",`${percent}%`);

		// face and range fill colors
		const maxHue = 120;
		const hueExtend = 30;
		const hue = Math.round(maxHue * percent / 100);

		let hue2 = hue - hueExtend;
		if (hue2 < 0) hue2 += 360;

		const hues = [hue,hue2];
		hues.forEach((h,i) => {
			this.face?.style.setProperty(`--face-hue${i + 1}`,h);
		});

		this.input?.style.setProperty("--input-hue",hue);

		// emotions
		const duration = 1;
		const delay = -(duration * 0.99) * percent / 100;
		const parts = ["right","left","mouth-lower","mouth-upper"];

		parts.forEach(p => {
			const el = this.face?.querySelector(`[data-${p}]`);
			el?.style.setProperty(`--delay-${p}`,`${delay}s`);
		});

		// aria label
		const faces = [
			"Sad face",
			"Slightly sad face",
			"Straight face",
			"Slightly happy face",
			"Happy face"
		];
		let faceIndex = Math.floor(faces.length * percent / 100);
		if (faceIndex === faces.length) --faceIndex;

		this.face?.setAttribute("aria-label",faces[faceIndex]);
	}
}
</script>
{% endblock %}