{% extends 'vintage/base.html' %}
{% load static %}
{% block style %}
<style>
    @media(max-width:500px){
        .add-pictures{
            display: block!important;
        }
    }

    @media (max-height:800px){
        .soufel-ricamo{
            margin-top: 0!important;
            margin: 45px auto!important;
        }
    }
    .soufel-ricamo{
        margin: 50px auto;
        margin-top: 80px;
    }

        html, body, main{
        height: 100%;
    }

        #header{
        display: none!important;
    }
    #footer{
        display: none!important;}
        .main-main{
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #202020;
    }
    .sidebar-menu{
        /* position: fixed; */
        background-color: #202020;
        border: 1px solid #3f3f3f;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        margin: 0;
        /* margin-bottom: 20px; */
        /* margin-top: 20px; */
        padding: 0;
        width: 20%;
        color: white!important;
        height: 100%;
        min-width: 300px;
    }
    .sidebar-menu-inner{
        padding: 0;

    }
    .icon, .title{
        color: white!important;
    }
    .title{
        margin-left: 8px;
    }
    .sidebar-menu-inner ul{
        padding: 0;
    }
    ul.sidebar-nav{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.sidebar-nav li{
        padding: 20px 50px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    .special-ricamo{
        text-align: center;
    }
    li:hover{
        background-color: #424242;
    }
    .card-product{
        /* width: 180px; */
        height: 300px;
        background-position: center!important;
        background-size: cover!important;
        margin: 10px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .card-product-menu{
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 20px;
        left: 50%;
        width: 70%;
        height: 25%;
        opacity: 0.5;
        /* display: none; */
        transition: all 0.3s ease-in-out;
        background-color: white;
        border-radius: 5px;
        transform: translateX(-50%) translateY(150%);
    }
    .card-product:hover .card-product-menu{
        transform: translateX(-50%) translateY(0%);
        opacity: 1;
    }
    .bi-trash{
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .bi:hover{
        transform: scale(1.3);
    }
    .card-product:hover .bi-trash{
        opacity: 1;
    }
    #rideau{
        background-color: rgb(255, 255, 255);
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .card-product:hover #rideau{
        opacity: 1;
    }
    .card-product > span{
        opacity: 0;
    }
    .card-product:hover > span{
        opacity: 1;
    }
    .bi-heart-fill{
        cursor: default;
    }
    label{
        cursor: pointer;
    }
    p > input, p> select{
        padding: 6px 30px;
        border-radius: 5px;
        background-color: #474747;
        border: none;
        /* border-bottom: 1px solid white; */
        color: white;
        width: 100%;
    }
    .pfff{
        padding: 6px 2px;
    }
    p{
        width: 100%;
    }
    textarea{
        padding: 6px 30px;
        border-radius: 5px;
        background-color: #474747;
        border: none;
        color: white;
        overflow: hidden;
        /* width: 100%; */
        /* resize: none; */
        height: 100px;
    }
    .submit-form{
        padding: 8px 12px;
        border-radius: 10px;
        border-color: #50dcf3;
        background-color: #50dcf3;
        /* font-weight: 600; */
        font-size: 15px;
        color: white;
    }
    .submit-form:hover{
        background-color: #3b448b;
    }
    .labels{
        width: 30%;
    }
    .red-etoile{
        color: red;
    }
    form{
        color:white;
        margin: 20px auto;
        width: 80%;
    }
    .product-info{
        width: 50%;
        padding: 20px;
    }
    .add-product-info{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    @media(max-width: 768px){
        .add-product-info{
            display: block;
        }
        .product-info{
            width: 100%;
        }
        .labels{
            width: 40%;
        }
        
        p > input, p> select{
            padding: 6px 20px;
            border-radius: 5px;
            width: 100%;
        }
        .add-pictures, .add-one, #image-preview-container{
            min-height: 200px!important;
        }
        .add-pictures{
            display: block!important;
        }
        p{
            font-size: 12px;
        }

        form{
            width: 100%;
        }
        .sidebar-menu{
            width: 100px!important;
            min-width: 0;
        }
        .title{
            display: none;
        }
        #ricamo1{
            display: none!important;
        }
        #ricamo2{
            display: block!important;
        }
        ul > a{
        color: white;
        font-size: 22px;
        transition: all 0.3s ease-in-out;
        }
        ul > a:hover i{
            color: #50dcf3;
            transform: scale(1.1);
        }
        ul.sidebar-nav li{
            padding: 20px 35px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
        


    }
    #ricamo2{
        display: none;
    }
    .add-pictures{
        width: 100%;
        display: flex;
        min-height: 240px;
    }
    /* .add-pictures > div{
        margin: 15px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        background-color: #474747;
    } */
    .image-product, .add-one{
        margin: 15px;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        background-color: #474747;
        min-width: 150px;
        min-height: 240px;
    }
    .add-one{
        cursor: pointer;
        position: relative;
    }
    .add-one > label{
        font-size: 100px;
        position: absolute;
        top: 50%;left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    #image-preview-container{
        display: flex;
        width: 100%;
        /* height: 240px; */
        overflow-x: auto;
        overflow-y: visible;
    }
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
    

</style>
{% endblock %}
{% block main %}
<main id="main" class="d-flex">
    <div class="sidebar-menu justify-content-center d-flex">

        <div class="sidebar-menu-inner">
            <div class="soufel-ricamo">
               
                <h1 id="ricamo1" class="special-ricamo"><a style="color: white;" href="{% url 'index'%}">Vintage<span style="color: #50dcf3;">DZ</span></a></h1>
                <h1 id="ricamo2" class="special-ricamo"><a style="color: #50dcf3; text-align: center;" href="{% url 'index'%}">V</a></h1>

            </div>
        
            <ul class="sidebar-nav">
                <a href="{% url 'profile' %}">
                <li class="active">
                    
                        <span class="icon"><i class="bi bi-person"></i></span>
                        <span class="title">Profil</span>
                    
                </li></a>
                <a href="{% url 'index' %}">
                    <li class="">

                        <span class="icon"><i class="bi bi-house"></i></span>
                        <span class="title">Accueil</span>
                    
                    </li>
                </a>

                <a href="{% url 'annonces' %}">
                    <li>
                        <span class="icon"><i class="bi bi-list"></i></span>
                        <span class="title">Mes Annonces</span>
                    
                    </li>
                </a>
                <a href="{% url 'add' %}">
                    <li>
                        <span class="icon"><i class="bi bi-plus"></i></span>
                        <span class="title">Ajouter une Annonce</span>
                    </li>
                </a>
                <a href="{% url 'chat' 'inbox' '1' %}">
                    <li class="active">
                        
                            <span class="icon"><i class="bi bi-chat"></i></span>
                            <span class="title">Messagerie</span>
                        
                    </li>
                </a>
    

                <a href="{% url 'password_change' %}">
                    <li>
                        <span class="icon"><i class="bi bi-lock"></i></span>
                        <span class="title">Mot de passe</span>
                    </li>
                </a>
                <a href="{% url 'logout' %}">
                    <li>
                        <span class="icon"><i class="bi bi-door-open"></i></span>
                        <span class="title">Déconnexion</span>
                    </li>
                </a>

            </ul>
        </div>
    </div>
    <div class="main-main">
        <div class="d-flex justify-content-center" style="text-align: center; margin:40px auto">
            <h2 style="margin: 10px; text-align: center;color: white;">Modifier une Annonce</h2>

        </div>
        <div class="text-align-center">
                <form action="" method="POST"> {% csrf_token %} 

                <div class="add-product-info">

                    <div class="d-flex product-info">
                        <div class="labels">
                            <p class="pfff">Nom <span class="red-etoile"> *</span></p>
                            <p class="pfff">Sexe<span class="red-etoile"> *</span></p>
                            <p class="pfff">Catégorie<span class="red-etoile"> *</span></p>
                            <p class="pfff">Prix<span class="red-etoile"> *</span></p>
                        </div>
                        <div class="inputs">
                            <p><input name="title" type="text" value="{{product.title}}" required></p>
                            <p><select name="genre" id="genre" style="padding: 6px 30px; border-radius: 5px; background-color: #474747; border: none; color: white;" required>
                                <!-- <option disabled selected>wilaya</option> -->
                                {% for key, value in genres %}
                                <option value="{{key}}" {% if key == product.genre %} selected {% endif %}>{{value}}</option>
                                {% endfor %}
                            </select></p>
                            <p><select name="category" id="category" style="padding: 6px 30px; border-radius: 5px; background-color: #474747; border: none; color: white;" required>
                                <!-- <option disabled selected>wilaya</option> -->
                                {% for category in categories %}
                                <option value="{{category.id}}" {% if product.category == category %} selected {% endif %} >{{category.name}}</option>
                                {% endfor %}
                            </select></p>
                            <p><input name="price" type="number" pattern="[1-9]\d{2,}" value="{{product.price}}" required></p>
                        </div>
                    </div>
                    <div class="d-flex product-info">
                        <div class="labels">
                            <p class="pfff">Taille</p>
                            <p class="pfff">Promotion</p>
                            <p class="pfff">Description<span class="red-etoile"> *</span></p>
                        </div>
                        <div class="inputs">
                            <p><input name="taille" type="text" value="{{product.taille}}"></p>
                            <p><input name="discounted_price" type="number" pattern="[1-9]\d{2,}" value="{{product.discounted_price}}"></p>
                            <p>
                                <textarea name="bio" maxlength="150" id="myTextarea" value="" required>{{product.description}}</textarea>
                                <small style="display: block;color: #717171;" id="wordCount"></small>
                            </p>

                        </div>


                    </div>
                </div>
                <div class="d-flex justify-content-center" style="padding-bottom: 20px;">
                    <button class="submit-form" type="submit">Modifier</button>
                </div>

                </form>

                <form id="images_form" action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
                <div class="add-pictures d-flex">
                    
                    <div class="col-2 add-one">
                        <label id="label-add" for="picture">
                            <i class="bi bi-plus"></i>
                        </label>
                        <input type="file" id="picture" name="image" style="display: none;">

                    </div>
                    <div id="image-preview-container">
                        <div id="image-principale" class="col-2 image-product" style="background-image: url('{{product.image.url}}'); position: relative;">
                            <label for="image" style="position: absolute; top: 10px; right: 10px; font-size: 16px;">
                                <i class="bi bi-pencil-square" style="opacity: 1; color: blue;"></i>
                            </label>
                            <input type="file" id="image" name="picture" style="display: none;">
                        </div>

                        {% for image in images %}
                            <div class="col-2 image-product" style="background-image: url('{{image.image.url}}'); position: relative;">
                                <a href="{% url 'delete_pic' image.id %}" style="position: absolute; top: 10px; right: 10px; font-size: 16px;">
                                    <i class="bi bi-trash" style="opacity: 1; color: red;"></i>

                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </form>

                
                
            

        </div>
    </div>

</main>
{% endblock %}
{% block scripts %}
<script>
    var textarea = document.getElementById("myTextarea");
    var wordCountDisplay = document.getElementById("wordCount");
    wordCountDisplay.textContent = textarea.value.length + "/150";

    textarea.addEventListener("input", function() {
        var text = textarea.value;
        var wordCount = text.length;
        wordCountDisplay.textContent = wordCount + "/150";
    });
    

    function create_image_div(){
        var div = document.createElement('div');
        div.classList.add('col-2');
        div.classList.add('image-product');
        return div
    }
    var add_pictures = document.getElementsByClassName('add-pictures')[0];
    var container = document.getElementById("image-preview-container");
    var imageInput = document.getElementById('picture');
    imageInput.addEventListener('change', function(event) {
        for (var file of event.target.files){
            // var file = event.target.files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function(e) {
                var imageSrc = e.target.result;
                var div = create_image_div();
                div.style.backgroundImage = "url('"+imageSrc+"')";
                container.appendChild(div);

                console.log(imageSrc);
                };

                reader.readAsDataURL(file);

            }

        }
    });
    var image_principale = document.getElementById('image-principale');
    var image_form = document.getElementById('images_form');

    image_principale.addEventListener('change', function(event){
        image_form.submit();
    });
    var imageee = document.getElementById('picture');
    imageee.addEventListener('change', function(event){
        image_form.submit();
    });


</script>
{% endblock %}