{% extends 'vintage/base.html' %}
{% load static %}
{% block style %}
<style>
        #header{
        display: none!important;
    }
    #footer{
        display: none!important;}
        .main-main{
        width: 100%;
        height: 100vh;
        overflow: auto;
        background-color: #202020;
    }
    .sidebar-menu{
        /* position: fixed; */
        background-color: #202020;
        border: 1px solid #3f3f3f;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        margin: 0;
        /* margin-bottom: 20px; */
        /* margin-top: 20px; */
        padding: 0;
        width: 20%;
        color: white!important;
        height: 100vh;
        min-width: 300px;
    }
    .sidebar-menu-inner{
        padding: 0;

    }
    .icon, .title{
        color: white!important;
    }
    .title{
        margin-left: 8px;
    }
    .sidebar-menu-inner ul{
        padding: 0;
    }
    ul.sidebar-nav{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.sidebar-nav li{
        padding: 20px 50px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }
    .special-ricamo{
        text-align: center;
    }
    li:hover{
        background-color: #424242;
    }
    input{
        padding: 6px 30px;
        border-radius: 5px;
        background-color: #474747;
        border: none;
        /* border-bottom: 1px solid white; */
        color: white;
    }
    form{
        color: white;
    }
    .submit-form{
        padding: 8px 12px;
        border-radius: 10px;
        border-color: #50dcf3;
        background-color: #50dcf3;
        /* font-weight: 600; */
        font-size: 15px;
        color: white;
    }
    .submit-form:hover{
        background-color: #3b448b;
    }
    form{
        width: 80%;
        margin: 50px auto;
    }
    .contains-change-form{
        display: flex;
    }
    @media(max-width: 768px){
        .contains-change-form{
            display: block;
        }
        .sidebar-menu{
            width: 100px!important;
            min-width: 0;
        }
        .title{
            display: none;
        }
        #ricamo1{
            display: none!important;
        }
        #ricamo2{
            display: block!important;
        }
        ul > a{
        color: white;
        font-size: 25px;
        transition: all 0.3s ease-in-out;
        }
        ul > a:hover i{
            color: #50dcf3;
            transform: scale(1.1);
        }
        ul.sidebar-nav li{
            padding: 18px 33px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
    }
    #ricamo2{
        display: none;
    }



</style>
{% endblock %}
{% block main %}
<main id="main" class="d-flex">
    <div class="sidebar-menu justify-content-center d-flex">

        <div class="sidebar-menu-inner">
            <div style="margin: 55px auto">
               
                <h1 id="ricamo1" class="special-ricamo"><a style="color: white;" href="{% url 'index'%}">Vintage<span style="color: #50dcf3;">DZ</span></a></h1>
                <h1 id="ricamo2" class="special-ricamo"><a style="color: #50dcf3; text-align: center;" href="{% url 'index'%}">V</a></h1>
            </div>
        
            <ul class="sidebar-nav">
                <a href="{% url 'profile' %}">
                <li class="active">
                    
                        <span class="icon"><i class="bi bi-person"></i></span>
                        <span class="title">Profil</span>
                    
                </li></a>
                <a href="{% url 'index' %}">
                    <li class="">

                        <span class="icon"><i class="bi bi-house"></i></span>
                        <span class="title">Accueil</span>
                    
                    </li>
                </a>

                <a href="{% url 'annonces' %}">
                    <li>
                        <span class="icon"><i class="bi bi-list"></i></span>
                        <span class="title">Mes Annonces</span>
                    
                    </li>
                </a>
                <a href="{% url 'add' %}">
                    <li>
                        <span class="icon"><i class="bi bi-plus"></i></span>
                        <span class="title">Ajouter une Annonce</span>
                    </li>
                </a>
                <a href="{% url 'chat' 'inbox' '1' %}">
                    <li class="active">
                        
                            <span class="icon"><i class="bi bi-chat"></i></span>
                            <span class="title">Messagerie</span>
                        
                    </li>
                </a>
    

                <a href="{% url 'password_change' %}">
                    <li>
                        <span class="icon"><i class="bi bi-lock"></i></span>
                        <span class="title">Mot de passe</span>
                    </li>
                </a>
                <a href="{% url 'logout' %}">
                    <li>
                        <span class="icon"><i class="bi bi-door-open"></i></span>
                        <span class="title">Déconnexion</span>
                    </li>
                </a>

            </ul>
        </div>
    </div>
    <div class="main-main">
        <div class="d-flex justify-content-center" style="text-align: center; margin:50px auto">
            <h4 style="margin: 20px 0 0 20px; text-align: center;color: white;">Changer votre mot de passe</h4>

        </div>
        <div class="container d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <div class="contains-change-form">
                    <div>
                        {% for field in form %}
                            <div class="contains-change-form">
                                <div style="flex-basis: 40%;"><p>
                                    {{ field.label_tag }}
                                </div></p>
                                <p>
                                <div style="width: 100%;">
                                    {{ field }}
                                </div></p>
                            </div>
                        
                            {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                        
                        {% endfor %}
    
                    </div>
                    <div class="d-flex justify-content-center">
                        {% for field in form %}
                            {% if field.help_text %}
                            <small style="color: white;">{{ field.help_text }}</small>
                            {% endif %}
                        {% endfor %}
                    </div>


    
                </div>
                <div class="d-flex justify-content-center">
                    <button style="margin: auto;" class="submit-form" type="submit">Changer</button>
                </div>

            </form>
        </div>
    </div>

</main>
{% endblock %}
{% block scripts %}
{% endblock %}