{% extends 'vintage/base.html' %}
    {% load static %}

{% block style %}
<style>
  input[type="number"]{

    box-sizing: border-box;
    width: 40%;
    height: 25px;
    padding: 20px 30px;
    font-weight: 600;

  }
  input[type="number"]::-webkit-inner-spin-button{
    display: none;
  }
  select{
    width: 80%;
    height: 40px;
    /* padding: 20px 30px; */
    font-weight: 600;
  }
  option{
    font-weight: 600;
  }
/* test */
/* input[type="range"] {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  padding: 0 2px; */
  /* Add some L/R padding to ensure box shadow of handle is shown */
  /* overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  /* background-size: 100% 2px;
  pointer-events: none;
}
input[type="range"]:active,
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background-color: #fff;
  position: relative;
  margin: 5px 0; */ 
  /* Add some margin to ensure box shadow is shown */
  /* cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}
input[type="range"]::-webkit-slider-thumb::before {
  content: " ";
  display: block; */
  /* position: absolute; */
  /* top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
.multi-range {
  position: relative;
  height: 50px;
}
.multi-range input[type="range"] { */
  /* position: absolute; */
/* }
.multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: red;
}
.multi-range input[type="range"]:nth-child(2) {
  background: none;
}
.multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
} */



/* test */


  .big-title-filtre{
    font-family: MagnumSansExtraLight;
    font-size: 30px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;  
  }
  .title-filtre{
    font-family: MagnumSansExtraLight;
    font-size: 16px;
    color: #111;
    text-transform: ;
    text-align: left;
    margin-bottom: 20px;  
  }
  #hero:before{
    background: white;
  }
  /* #header i, #header span, #header a {
  color: #000000!important;
  transition: all 0.5s;
  } */-
  .filters-search-zone{
    width: 20%;
    height: 100vh;
    font-family: Work Sans,sans-serif!important;
    font-weight: 600!important;
    margin-top: -100px;
    text-align: center;
  }
  .fluid-container{
    width: 90%!important;
    margin: auto!important;
  }
  .team{
    margin-top: 0!important;
    padding-top: 100px;
  }
  .box-filtre{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.253);
    width: 80%;
  }
  .nonee{
    display: none!important;
    /* width: 0!important;
    height: 0!important;
    visibility: hidden; */
  }
  .column-pers{
    transition: ease-in-out 0.3s all;
  }
  #output{
    margin-left: 5px;
  }
  label{
    font-weight: 600;
  }
  #prix-max{
    width: 300px;
  }
 
</style>
{% endblock %}

{% block main %}
  <main id="main">
                <section class="" style="margin-bottom: 0;">
                  <div class="container" style="">
                    <div class="section-header">
                      <h3 class="section-title">Recherche</h3>
                      <hr style="font-weight: 400">
                    </div>
                    
                    
                    <form class="modal-content animate" action="{% url 'search' %}" method="POST">{% csrf_token %}
                                        
                      <div class="second-search-container">
                  
                        <input type="text" placeholder="Recherche" name="search">     
                               
                        <button class="search-submit-button" type="submit">
                          <i style="margin-right:10px" class="bi bi-search"></i>
                        </button>
                  
                  
                        
                      </div>
                      <div class="d-flex justify-content-between">
                      </div>
                      <hr class="second-hr-search">
                      
                    </form>
                


                  </div>
                </section>
            
                <section id="portfolio" class="team">
                  <div class="container-fluid" ><!--data-aos="fade-up"-->
                    <div class="section-header">
                      <h3 class="section-title" style="font-weight: 400">{% if not products %} No Results for "{{searched}}". Try to minimize your words {% endif %} </h3>        
  
                    </div>
                              <div class="d-flex justify-content-center" style="width: 100%;">
                                <ul id="portfolio-flters">
                                  <li data-filter="*" class="filter-active">Tout</li>
                                  {% for category in categories %}
                                  <li data-filter=".filter-{{category.id}}">{{category.name}}</li>
                                  {% endfor %}
                                  
                                </ul>
                                
                              </div>
                              <div class="d-flex justify-content-center">
                                <div class="box-filtre">
                                  <span class="title-filtre"></span>
                                  <div class="text-align-center" style="width: fit-content; margin: auto;">
                                    <!-- <input type="hidden" value="0" name="min"> -->
                                    <div class="d-flex justify-content-center">
                                      <label>Filtrer par Prix :</label>
                                      <output id="output">{{prix_max}}</output> <span> DA</span>
                                    </div>
                                    <input id="prix-max" type="range" name="mmax" min="0" max="{{prix_max}}" step="250">
                                  </div>
                                </div>
                              </div>
        

            
                    
                              <div style="width: 100%;" class="d-flex justify-content-center"><div id="portfolio-container" class="row set-the-width-row portfolio-container"  data-aos="fade" data-aos-delay="1">
                                {% for product in products %}
                                <div class="justify-content-center column-pers {% if product.discounted_price %}{{product.discounted_price}}{% else %}{{product.price}}{% endif %} portfolio-item filter-{{product.category.id}}" style="border-radius: 5px;">
                                  <div class="set-the-width" style="color:black; width: 95%; " href=""><div class="member"><!-- data-aos="fade" data-aos-delay="1"-->
                                    <a href="{% url 'page' product.seller %}">
                                      <div class="profile-seller">
                                          <img src="{{product.seller.profile.picture.url}}" class="product-img-seller" alt="">
                                          <span class="seller-name">{{product.seller}}</span>
                                      </div></a>
                                          <a href="{% url 'post' product.genre product.category product.title %}"><div class="pic" style="background-image:url({{product.image.url}})"><!--<img src="{{product.image.url}}" alt="">--></div></a>
                                    <h4 style="text-transform: uppercase; text-align: left;">{{product.title}} </h4>
                                    <div class="d-flex justify-content-between">
                                      <div class="d-flex" style="position: relative;">
                                        {% if product.discounted_price %}
                                        <span class="price-col" style="text-align: left;"><del>{{product.price}} DA</del> {{product.discounted_price}} DA</span>
                                      {% else %}
                                        <span class="price-col">{{product.price}} DA</span>
                                      {% endif %}
                      
                                      </div>
                                      <!-- <img src="{% static 'vintage/img/heart.png' %}" ></img> -->
                                      <div class="d-flex justify-content-between">
                                        <span style=" margin-right: 3px; margin-bottom: 3px">{{product.nb_likes}}</span>
                                        <a href="{% url 'likeit' product.id %}" class="{% if product.liked %}bi bi-heart-fill{% else %}bi bi-heart{% endif %} mobile-nav-toggle like-it "></a>
                                      </div>
                                    </div>
                      
                                    
                                  </div></div>
                                </div>
                                {% endfor %}
                              </div></div>
                    
                  </div>
                </section><!-- End Team Section -->
            
            
  </main><!-- End #main -->
  {% endblock %}
{% block scripts %}
<script>
  var max = document.getElementById("prix-max");
  var output = document.getElementById("output");
  var products_container = document.getElementsByClassName("portfolio-container")[0];
  max.addEventListener("input", changefilterprice);
  function changefilterprice(e){
    var prix = e.target.value;
    // alert(prix);
    prix = parseFloat(prix);
    output.innerHTML = prix;

    var produits = document.getElementsByClassName("column-pers");
    for ( var i = 0; i < produits.length; i++) {
      var prix_produit = produits[i].classList[2];
      prix_produit = parseFloat(prix_produit);
      if (prix_produit > prix) {
        pr = produits[i];
        pr.classList.add("nonee");
        // products_container.load(window.location.href + " #portfolio-container")

      }else{
        produits[i].style.display = "block!important";
        if (produits[i].classList.contains("nonee")){
          produits[i].classList.remove("nonee");
        }
        
      }
    }

  }
</script>
{% endblock %}